<section class="section">
  <div class="container">
    <div class="item columns">
      <div class="column is-6 px-6">
        <div class="content">
          <p class="has-text-centered"><img height="80px" src="img/hybrid.svg"></p>
          <h3 class="has-text-centered">Hybrid</h3>
          <p class="has-text-justified is-size-5">
            Choose either automaton theory based algorithm or fuzzing depending on the RegExp.
            It is fast, strict and state-of-the-art algorithm to detect ReDoS vulnerability.
          </p>
        </div>
      </div>
      <div class="column is-6 px-6">
        <div class="content">
          <p class="has-text-centered"><img height="80px" src="img/language.svg"></p>
          <h3 class="has-text-centered">JavaScript & Scala</h3>
          <p class="has-text-justified is-size-5">
            Support JavaScript (ECMA-262) RegExp.
            This is written in Scala, and compiled into JavaScript powered by Scala.js.
            We can use this from both Scala and JavaScript.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
