<section class="section">
  <div class="container">
    <div class="item columns">
      <div class="column is-4">
        <div class="content">
          <p class="has-text-centered"><img width="48px" height="48px" src="img/automata.svg"></p>
          <h4 class="has-text-centered">Automata Theory</h4>
          <p class="has-text-centered">
            Based on automata theory.<br>
            Find a ReDoS vulnerability strictly.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <p class="has-text-centered"><img width="48px" height="48px" src="img/javascript.svg"></p>
          <h4 class="has-text-centered">JavaScript (ECMA-262)</h4>
          <p class="has-text-centered">
            Support JavaScript (ECMA-262) RegExp syntax.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <p class="has-text-centered"><img width="48px" height="48px" src="img/scala.svg"></p>
          <h4 class="has-text-centered">Scala</h4>
          <p class="has-text-centered">
            Built on Scala.js.<br>
            This is not only Scala but also JavaScript library.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
