<!doctype html>

<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "feature" . }}{{ end }}
    <main class="section">
      <div class="container">
        <div class="content">{{ block "main" . }}main{{ end }}</div>
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
