.demoResultHotspotHeat {
  color: var(--ifm-color-white);
  background: var(--ifm-color-danger);
}

.demoResultHotspotNormal {
  color: var(--ifm-color-white);
  background: var(--ifm-color-warning);
}

.demoResultLoading {
  display: inline-block;
}

.demoResultLog {
  max-height: 10em;
  overflow-y: auto;
}
