name: Main

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Scala Build
    outputs:
      version: ${{ steps.save-version.outputs.version }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Cache Build Files
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: ${{ runner.os }}-build-${{ github.sha }}
      - name: Build
        run: sbt compile js/fullLinkJS cli/assembly
      - id: save-version
        name: Save Version
        run: |
          echo "::set-output name=version::$(sbt --error "print coreJVM/releaseVersion")"
      - uses: actions/upload-artifact@v2
        with:
          path: modules/recheck-js/target/scala-2.13/recheck-js-opt/recheck.js
          name: recheck.js
      - uses: actions/upload-artifact@v2
        with:
          path: modules/recheck-cli/target/scala-2.13/recheck.jar
          name: recheck.jar

  scala-lint:
    needs: [build]
    runs-on: ubuntu-latest
    name: Scala Lint
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Cache Build Files
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: ${{ runner.os }}-build-${{ github.sha }}
      - name: Lint
        run: sbt scalafmtCheckAll scalafmtSbtCheck 'scalafixAll --check'

  node-lint:
    runs-on: ubuntu-latest
    name: Node Lint
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'yarn'
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: |
          yarn lerna run lint
      - name: Type Check
        run: |
          yarn lerna run typecheck

  scala-test:
    runs-on: ubuntu-latest
    name: Scala Test
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'yarn'
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Test
        run: sbt coverage test coverageAggregate
      - uses: codecov/codecov-action@v2

  node-test:
    needs: [build, node-lint]
    runs-on: ubuntu-latest
    name: Node Test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'yarn'
      - name: Install
        run: yarn install --frozen-lockfile
      - uses: actions/download-artifact@v2
        with:
          name: recheck.js
          path: modules/recheck-js/target/scala-2.13/recheck-js-opt/
      - uses: actions/download-artifact@v2
        with:
          name: recheck.jar
          path: modules/recheck-cli/target/scala-2.13/
      - name: Build
        run: yarn lerna run build
      - name: Test
        # It needs two `--` actually: one is for Yarn and the latter is for Lerna.
        run: yarn lerna run test -- -- --coverage
      - uses: codecov/codecov-action@v2

  native-build:
    needs: [build]
    if: github.ref_name == 'main' || startsWith(github.ref, 'refs/tags/')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        include:
          - os: macOS-latest
            artifact_filename: recheck-darwin-x64
            local_path: modules/recheck-cli/target/native-image/recheck
          - os: ubuntu-latest
            artifact_filename: recheck-linux-x64
            local_path: modules/recheck-cli/target/native-image/recheck
          - os: windows-latest
            artifact_filename: recheck-win32-x64.exe
            local_path: modules/recheck-cli/target/native-image/recheck.exe
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Cache Build Files
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: ${{ runner.os }}-build-${{ github.sha }}
      - if: matrix.os != 'windows-latest'
        run: sbt cli/nativeImage
      - if: matrix.os == 'windows-latest'
        name: Run sbt cli/nativeImage
        shell: cmd
        run: >-
          "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat" && sbt cli/nativeImage
      - uses: actions/upload-artifact@v2
        with:
          path: ${{ matrix.local_path }}
          name: ${{ matrix.artifact_filename }}

  maven-release:
    needs: [build, scala-test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    name: Publish to Maven Central
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-gpg@v3
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Cache Build Files
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: ${{ runner.os }}-build-${{ github.sha }}
      - name: Publish
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

  npm-release:
    needs: [build, native-build, node-test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    name: Publish to NPM
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.16
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/*.sbt') }}
      - name: Cache Build Files
        uses: actions/cache@v2
        with:
          path: |
            **/target
          key: ${{ runner.os }}-build-${{ github.sha }}
      - name: Install
        run: yarn install --frozen-lockfile
      - uses: actions/download-artifact@v2
        with:
          name: recheck.js
          path: modules/recheck-js/target/scala-2.13/recheck-js-opt/
      - uses: actions/download-artifact@v2
        with:
          name: recheck.jar
          path: packages/recheck-jar/
      - uses: actions/download-artifact@v2
        with:
          name: recheck-darwin-x64
          path: packages/recheck-macos-x64/
      - uses: actions/download-artifact@v2
        with:
          name: recheck-linux-x64
          path: packages/recheck-linux-x64/
      - uses: actions/download-artifact@v2
        with:
          name: recheck-win32-x64.exe
          path: packages/recheck-windows-x64/
      - name: Build
        run: NODE_ENV=production yarn lerna run build
      - name: Publish
        run: yarn lerna publish ${{ needs.build.outputs.version }} --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  gh-pages:
    needs: [build]
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    name: Deploy to GitHub Pages
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '17'
          cache: 'yarn'
      - uses: actions/download-artifact@v2
        with:
          name: recheck.js
          path: modules/recheck-js/target/scala-2.13/recheck-js-opt/
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Build
        run: |
          NODE_ENV=production yarn workspace recheck build
          RECHECK_VERSION=${{ needs.build.outputs.version }} yarn workspace website build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/build
